package templates

templ AdminView(adminContent templ.Component) {
    <main>
        <nav>
            <a href="/admin/create-bar">Opprett bar</a>
            <a href="/admin/create-brewery">Opprett bryygeri</a>
        </nav>
        <section>
            @adminContent
        </section>
    </main>
}