package templates

import "go-router/models"

templ CreateBarResult(fetched models.AddressParts) {
    <div class="p-4 bg-green-100 border rounded">
        <p>Fylke: {fetched.Fylke}</p>
        <p>Kommune/Bydel: {fetched.Kommune}</p>
        if fetched.Sted != "" {
        <p>Sted: {fetched.Sted}</p>
        }
    </div>
}