package templates

templ ErrorPage() {
    <section>
        <h1>404 - Not Found</h1>
        <h2>Vi fant dessverre ikke siden du lette etter</h2>
        <a href="/">Trykke her for å komme til startsiden</a>
    </section>
}