package templates

import "go-router/models"

templ ListView(url models.UrlNav, locs []models.BaseLocation, bars []models.BarView) {
    <section>
        @navTree(url)
        @locationLinks(locs)
        @customTime()
        @List(bars)
    </section>
}