package templates

import (
    "strconv"

    "go-router/models"
)    

templ List(bars []models.Bar) {
    <section id="list">
        <ul>
        for _, bar := range bars {
            <li>{bar.Name}: {strconv.Itoa(int(bar.CurrentPint))},-</li>
        }
        </ul>
    </section>
}