package templates

import "go-router/models"

templ LocationLinks(locations []models.BaseLocation) {
    <div>
        <ul>
            for _, location := range locations {
            <li><a href={templ.SafeURL("/liste" + location.Slug)}>{location.Name}</a></li>
        }
        </ul>
    </div>
}