package templates

templ Toast(msg string) {
    <div hx-swap-oob="beforeend:#toasts">
        <div id="toast" remove-me="2s">
            <p>{msg}</p>
        </div>
    </div>
}

templ UpdateInterface(msg, value, elementID string) {
    @Toast(msg)
    <div id={elementID} hx-swap-oob="textContent">{value}</div>
}